<?php if($this->getSource() instanceof Mage_Sales_Model_Order){ ?>
    <?php if ((float) $this->getSource()->getGiftwrapAmountRefunded()): ?>
        <tr>
            <td class="label"><strong><?php echo Mage::helper('core')->__('Giftwrap refunded to customer') ?></strong></td>
            <td><strong><?php echo $this->displayPrices($this->getSource()->getGiftwrapAmountRefunded(),$this->getSource()->getGiftwrapAmountRefunded()); ?></strong></td>
        </tr>
    <?php endif; ?>
<?php } else { ?>
    <?php if ((float) $this->getSource()->getGiftwrapAmount()): ?>
        <tr>
            <td class="label"><strong><?php echo Mage::helper('core')->__('Giftwrap Refunded') ?></strong></td>
            <td><strong><?php echo $this->displayPrices($this->getSource()->getGiftwrapAmount(),$this->getSource()->getGiftwrapAmount()); ?></strong></td>
        </tr>
    <?php endif; 
}?>