<?php $this->setPriceDataObject($this->getSource()) 

?>
<?php if(!$this->getSource() instanceof Mage_Sales_Model_Order_Creditmemo): ?>
    <?php if($this->getSource()->getGiftwrapAmount()!=0.00): ?>
        <?php if ($this->getSource()->getGiftWrapOption()==1): ?>
            <tr>
                <td class="label"><?php echo "Giftwrap" ;?></td>
                <td>
                    <?php echo $this->displayPrices($this->getSource()->getBaseGiftwrapAmount(), $this->getSource()->getGiftwrapAmount()); ?>
                </td>
            </tr>
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>