@charset "utf-8";

/* CSS Document */

ol, ul { list-style: none; }

/* End Reset */

.clear
{
 clear: both;
 line-height: 10px;
}

div.clear { height: 10px }

div.c
{
 clear: both;
 width: 100%;
 height: 0px
}

/*---alwquickcolor---*/

.alwquickcolor { background: #d4eaff; }

.headings
{
 -moz-border-radius: 4px 4px 4px 4px;
 background: none repeat scroll 0 0 #D4EAFF;
 height: 32px;
 padding: 3px 0 1px 0;
 width: 100%;
}

/*##############--------------- Main Container --------------############*/


.main_checkout
{
 width: 100%;
 margin: 20px auto;
 background: #fcfbf7;
 border: 1px solid #999;
 padding: 20px;
 font-family: Arial, Helvetica, sans-serif;
}

.main_header
{
 width: 100%;
 clear: both
}

.main_header h1
{
 float: left;
 width: 100%;
 text-transform: uppercase;
 font: 24px/22px Arial, Helvetica, sans-serif normal;
 color: #434343
}

.main_header h2
{
 float: left;
 width: 100%;
 font: 18px/28px Arial, Helvetica, sans-serif normal;
 color: #434343;
 padding: 5px 0 16px;
}

.main_header a
{
 font: 13px/20px Arial, Helvetica, sans-serif normal;
 text-decoration: underline;
 color: #5e8dbc;
 clear: both;
 margin-bottom: 10px;
*white-space:nowrap;
*padding-bottom:10px;
}

.main_header a:hover
{
 color: #666;
 text-decoration: none
}

/*------- Main Content ------*/


#main_content
{
 width: 100%;
 margin: 0px auto 0;
 border-top: 1px solid #ddd;
 clear: both;
 font-family: Arial, Helvetica, sans-serif;
}

/*--------------- Billing Info div --------------*/

.billing
{ 
 -moz-border-radius: 8px 8px 8px 8px;
 border: 1px dashed #D8D8D8;
 float: left;
 margin: 10px 0 0;
 padding: 10px;
}

.billing h3
{ 
 text-transform: uppercase;
 font: bold 15px/22px Arial, Helvetica, sans-serif normal;
 color: #434343;
 padding: 2px 0 2px 28px;
 margin-bottom: 15px
}

/*--------------- Shippng Address div --------------*/


.main_checkout .shipping
{
 float: left;
 padding: 10px;
 border: 1px dashed #D8D8D8;
 -moz-border-radius: 8px;
 -webkit-border-radius: 8px;
 border-radius: 8px;
 margin: 16px 0 0;
}
 @media screen and (-webkit-min-device-pixel-ratio:0) {

.main_checkout .shipping { clear: both }
}

.main_checkout .shipping h3
{
 text-transform: uppercase;
 font: bold 15px/22px Arial, Helvetica, sans-serif normal;
 color: #434343;
 padding: 0 0 2px 28px;
 margin-bottom: 15px
}

.quickfield_1
{
 float: left;
 width: 48%;
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 margin: 0px 0 0;
}

.quickfield_4
{
 float: right;
 width: 49%;
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 margin: 0px 0 0;
 -bracket-: hack(;
 margin: 0px;
);
}

.quickfield_1 span, .quickfield_2 span, .quickfield_3 span, .quickfield_4 span, .cc_info span { color: #F03 }

.quickfield_1 input[type="text"]
{
 width: 100%;
 border: 1px solid #BFBFBF;
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 color: #6F6F6F;
 padding: 2px 0 3px;
}

.quickfield_1 input[type="password"]
{
 width: 100%;
 border: 1px solid #BFBFBF;
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 color: #6F6F6F;
 padding: 2px 0 3px;
}

.quickfield_4 input[type="text"]
{
 width: 100%;
 border: 1px solid #BFBFBF;
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 color: #6F6F6F;
 padding: 2px 0 3px;
}

.quickfield_4 input[type="password"]
{
 width: 100%;
 border: 1px solid #BFBFBF;
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 color: #6F6F6F;
 padding: 2px 0 3px;
}

.quickfield_2
{
 float: left;
 width: 100%;
 font: 12px/18px Arial, Helvetica, sans-serif normal !important;
 margin: 0px 0 0;
 clear: both
}

.quickfield_2 .field, .name-firstname { width: 48%; }

.name-firstname { float: left; }

.quickfield_2 .name-lastname
{
 float: right;
 width: 48%;
}

.quickfield_2 input[type="text"]
{
 width: 100%;
 border: 1px solid #BFBFBF;
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 color: #6F6F6F;
 padding: 2px 0 3px;
 margin-bottom: 10px;
}

.quickfield_2 select
{
 width: 100%;
 border: 1px solid #BFBFBF;
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 color: #6F6F6F;
 padding: 1px 0 1px;
}

.zip { width: 80px !important; }

.quickfield_3
{
 float: left;
 width: 100%;
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 margin: 10px 0 0
}

.quickfield_3 input[type="text"]
{
 width: 100%;
 border: 1px solid #BFBFBF;
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 color: #6F6F6F;
 padding: 2px 0 3px;
 margin-bottom: 10px;
}

.quickfield_4 select
{
 width: 100%;
 border: 1px solid #BFBFBF;
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 color: #6F6F6F;
 padding: 1px 0 1px;
*margin-bottom:3px;
}
 @media screen and (-webkit-min-device-pixel-ratio:0) {

.quickfield_4 select { margin-bottom: 6px }
}

.quickfield_2 .cb { vertical-align: top; *vertical-align:baseline !important}

/*--------------- Methods div --------------*/


.main_checkout .shipping_method
{
 float: left;
 border: 1px dashed #D8D8D8;
 padding: 10px;
 width: 45%;
 -moz-border-radius: 8px;
 -webkit-border-radius: 8px;
 border-radius: 8px;
 margin: 10px 0 0 15px;
}

.main_checkout .shipping_method .payment
{
 float: left;
 clear: both;
 padding-top: 28px
}

.main_checkout .shipping_method .payment br { margin-bottom: 5px }

.main_checkout .shipping_method h3
{ 
 text-transform: uppercase;
 font: bold 15px/22px Arial, Helvetica, sans-serif normal;
 color: #434343;
 padding: 2px 0 2px 28px;
 margin: 0px 0 15px 4px
}

.main_checkout .shipping_method h6
{
 width: 100%;
 font: bold 12px/20px Arial, Helvetica, sans-serif normal;
 color: #434343;
 padding: 5px 0 0px 4px;
}

.main_checkout .shipping_method label
{
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 color: #474747;
 vertical-align: top;
*vertical-align:middle !important;
}

.main_checkout .payment
{
 float: right;
 border: 1px dashed #D8D8D8;
 padding: 10px;
 width: 45%;
 -moz-border-radius: 8px;
 -webkit-border-radius: 8px;
 border-radius: 8px;
 margin: 10px 0 0 15px;
}

.main_checkout .paymentblock
{
 float: right;
 border: 1px dashed #D8D8D8;
 padding: 10px;
 width: 94%;
 -moz-border-radius: 8px;
 -webkit-border-radius: 8px;
 border-radius: 8px;
 margin: 10px 0 0 15px;
}

.main_checkout .payment h3
{ 
 text-transform: uppercase;
 font: bold 15px/22px Arial, Helvetica, sans-serif normal;
 color: #434343;
 padding: 2px 0 2px 28px;
 margin: 0px 0 15px 4px
}

.main_checkout .payment h6
{
 float: left;
 width: 100%;
 font: bold 12px/20px Arial, Helvetica, sans-serif normal;
 color: #434343;
 padding: 5px 0 0px 4px;
}

.main_checkout .payment label
{
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 color: #474747;
 vertical-align: top;
*vertical-align:middle !important;
}

/*-------------- Review Order Div -------------*/

.review
{
 float: right;
 padding: 10px;
 border: 1px dashed #D8D8D8;
 -moz-border-radius: 8px;
 -webkit-border-radius: 8px;
 border-radius: 8px;
 margin: 10px 0 0 0px;
 width: 66%;
}

.review h3
{
 text-transform: uppercase;
 font: bold 15px/22px Arial, Helvetica, sans-serif normal;
 color: #434343;
 padding: 2px 0 2px 28px;
 margin: 0px 0 15px 4px
}

.order
{
 width: 100%;
 clear: both;
 margin: 0 auto;
 padding: 10px 0;
}

.order ul
{
 float: left;
 padding: 0px;
 list-style: none;
 font: 13px/18px Arial, Helvetica, sans-serif normal;
 color: #343434
}

.order ul li { float: left }

/*------- Quantity Plus/Minus BTN ------*/

.minus
{
 vertical-align: middle;
 margin-right: 4px
}

.plus
{
 vertical-align: middle;
 margin-left: 3px
}

.hd
{
 float: left;
 clear: both;
 width: 100%;
 border-top: 1px solid #CDCDCD;
 padding: 3px 0 3px;
}

.hd_gt
{
 float: left;
 clear: both;
 width: 100%;
 border-top: 1px solid #CDCDCD;
 border-bottom: 1px solid #CDCDCD;
 padding: 3px 0 3px;
}

.hd_1 { width: 177px }

.hd_2
{
 width: 63px;
 text-align: right
}

/*.qt
{
 width: 35px;
 text-align: center;
 white-space: nowrap
}*/

/*.subt
{
 text-align: right;
 width: 204px
}*/

.review_order label
{
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 color: #474747;
}

.review_order input[type="text"]
{
 width: 180px;
 border: 1px solid #BFBFBF;
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 color: #6F6F6F;
 padding: 2px 0 3px
}

.review_order textarea
{
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 color: #6F6F6F;
 padding: 2px 4px 3px;
 border: 1px solid #BFBFBF;
 width: 220px
}

.review_order label
{
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 color: #474747;
 vertical-align: top;
*vertical-align:middle !important;
}

.review_order a
{
 color: #5e8dbc;
 text-decoration: underline;
}

.review_order a:hover
{
 color: #707070;
 text-decoration: none;
}

.review_order select
{
 width: 240px;
 border: 1px solid #BFBFBF;
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 color: #6F6F6F;
 padding: 1px 0 1px;
}

.place_order
{
 padding: 6px 14px 7px;
 border: 0px;
 cursor: pointer;
 clear: both;
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 border-radius: 4px;
 color: #494949;
 font: bold 13px/18px Arial, Helvetica, sans-serif;
 clear: both;
 height: auto;
}

.place_order:hover { opacity: 0.85; }

/*#########-------------- Gift Dropping Div ------------########*/


.add_gift
{
 width: 100%;
 clear: both;
}

.quickfield_5
{
 float: left;
 width: 117px;
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 margin: 10px 15px 10px 5px
}

.quickfield_5 span { color: #F03 }

.quickfield_5 input[type="text"]
{
 width: 130px;
 border: 1px solid #BFBFBF;
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 color: #6F6F6F;
 padding: 2px 0 3px
}

.add_gift textarea textarea
{
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 color: #6F6F6F;
 padding: 2px 4px 3px;
 border: 1px solid #BFBFBF;
 width: 220px;
}

.quick_gift
{
 clear: both;
 margin-left: 5px
}

#os-left
{
 width: 32%;
 float: left;
}

#os-right
{
 width: 68%;
 float: right;
}

.fields input { width: 120px !important; }

.form-list li.wide textarea { width: 254px; }

.form-list li input
{
 border: 1px solid #BFBFBF;
 color: #6F6F6F;
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 padding: 2px 4px 3px;
 width: 170px !important;
}

.sp-methods select.month, .sp-methods select.year { width: 85px !important; }

.sp-methods select.month { margin-right: 10px; }

.sp-methods input.cvv { width: 3em !important; }

.sp-methods { margin: 0 0 8px; }

.sp-methods dt
{
 font-weight: bold;
 margin: 13px 0 5px !important;
}

.tool-tip .tool-tip-content { padding: 15px 8px 0px !important }

.form-list li select
{
 border: 1px solid #BFBFBF;
 color: #6F6F6F;
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 padding: 1px 0;
 width: 180px !important;
}

.data-table { border: none; }

.data-table .odd { background: #f8f7f5 }

.data-table .even { background: #eeeded; }

.data-table td.last, .data-table th.last { border-right: 0; }

.data-table tr.last th
{
 border-bottom: 0 !important;
 border-right: none;
}

.data-table th
{
 padding: 3px 8px;
 font-weight: bold;
}

.data-table thead th
{
 font-weight: bold;
 padding: 2px 8px;
 color: #0a263c;
 white-space: nowrap;
 vertical-align: middle;
 background: none;
 border: none;
}

.data-table thead th.wrap { white-space: normal; }

.data-table thead th a, .data-table thead th a:hover { color: #fff; }

.data-table thead th { }

.data-table thead th .tax-flag
{
 font-size: 11px;
 white-space: nowrap;
}

.data-table tfoot { border-bottom: 1px solid #d9dde3; }

.data-table tfoot tr.first td
{
 background: none;
 text-align: right;
}

.data-table tfoot tr
{
 border: none;
 background: none;
 background-color: #FFF !important;
}

.data-table tfoot td
{
 padding-top: 1px;
 padding-bottom: 1px;
 border-bottom: 0;
 border-right: none;
}

.data-table tfoot strong { font-size: 16px; }

.data-table tbody th, .data-table tbody td { border-bottom: 1px solid #d9dde3; }

/* Bundle products tables */


.data-table tbody.odd tr { background: #f8f7f5 !important; }

.data-table tbody.even tr { background: #f6f6f6 !important; }

.data-table tbody.odd tr td, .data-table tbody.even tr td { border-bottom: 0; }

.data-table tbody.odd tr.border td, .data-table tbody.even tr.border td { border-bottom: 1px solid #d9dde3; }

.data-table tbody td .option-label
{
 font-weight: bold;
 font-style: italic;
}

.data-table tbody td .option-value { padding-left: 10px; }

.product-name
{
 padding: 0px !important;
 background: none repeat scroll 0 0 transparent !important;
 text-align: left;
 margin: 0 !important;
 text-transform: none !important;
 width: 100%;
 font: 12px/1.55 Arial, Helvetica, sans-serif normal !important;
}

.close
{
 float: right;
 border: 0px;
}

.main_layout_loader
{
 width: 100%;
 height: 100%;
 min-height: 100%;
 position: fixed;
 background: rgba(69,69,69,0.6);
 left: 0px;
 top: 0px;
 z-index: 99999;
}

.quickcheckout_loader
{
 width: 400px;
 height: 300px;
 margin: 0 auto;
 top: 30%;
 background: url('../../images/quickcheckout/ajax-loader.gif') no-repeat left top;
 position: relative
}

.quickcheckout-title span
{
 float: left;
 width: 27px;
 height: 27px;
 margin-right: 5px;
 background: transparent url('../../images/quickcheckout/osc-numbers.png') no-repeat;
}

.quickcheckout-title .step-1 { background-position: 0; }

.quickcheckout-title .step-2 { background-position: -27px; }

.quickcheckout-title .step-3 { background-position: -54px; }

.quickcheckout-title .step-4 { background-position: -81px; }

.quickcheckout-title .step-review { background-position: -242px; }

.quickcheckout-login
{
 background: none repeat scroll 0 0 black;
 height: 100%;
 width: 100%;
 left: 0;
 top: 0;
 position: fixed;
 z-index: 999;
}

.quickcheckout-login-form .login-form button { float: right; }

#quickcheckout-login-form
{
 width: 305px;
 background: #FFF;
 padding: 20px 40px;
 -moz-box-shadow: 0 0 20px #000;
 box-shadow: 0 0 20px #000;
 height: auto;
 border: 1px solid #CCCCCC;
 left: 50%;
 margin-left:-150px;
 position: fixed;
 top: 22%;
 z-index: 1000;
}

#quickcheckout-login-form h1
{
 font: 23px/20px Arial, Helvetica, sans-serif normal;
 color: #4B4B4B;
 padding-bottom: 20px
}

#quickcheckout-login-form label
{
 font: 12px/32px Arial, Helvetica, sans-serif normal;
 color: #474747;
 float: left;
 clear: both;
 line-height: 25px;
}

.quickcheckout-login-form_input
{
 width: 180px;
 border: 1px solid #BFBFBF;
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 color: #6F6F6F;
 padding: 2px 0 3px;
 float: right;
}

#quickcheckout-login-form a
{
 float: right;
 clear: both;
 color: #4B4B4B;
 text-decoration: none;
 font: 11px/18px Arial, Helvetica, sans-serif normal;
}

.low_margin { margin-bottom: 2px !important; }

#quickcheckout-login-form a:hover
{
 text-decoration: underline;
 color: #F00
}

#quickcheckout-login-form .log_button
{
 height: auto;
 padding: 4px 13px 5px;
 border: 0px;
 cursor: pointer;
 clear: both;
 margin: 20px 10px 0 0;
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 border-radius: 4px;
 color: #494949;
 font: bold 13px/18px Arial, Helvetica, sans-serif;
 float: left;
 clear: both;
}

#quickcheckout-login-form .log_button:hover { opacity: 0.85; }
quickcheckout-login-form-div p{margin-bottom: 10px;}
/*##########-------------- Loading Box --------------#########*/


#quickcheckout-ajax-loader
{
 position: fixed;
 z-index: 9999;
 width: 100%;
 height: 100%;
 background: url('../../images/quickcheckout/trans_BG.png') repeat;
 left: 0;
 top: 0
}

#quickcheckout-ajax-loader div
{
 width: 120px;
 height: auto;
 margin: 28% auto 0;
 font: 13px/18px Arial, Helvetica, sans-serif normal;
 color: #CCC;
 background: url(../../images/quickcheckout/loader.gif) no-repeat left center;
 padding-left: 38px;
 padding-top: 10px;
 padding-bottom: 10px;
}

.quickcheckout-agreement-p
{
 margin: 0;
 padding: 10px 0 10px 11px;
 font: 13px/18px Arial, Helvetica, sans-serif normal;
}

.quickcheckout-agreement-back
{
 background: none repeat scroll 0 0 black;
 height: 100%;
 width: 100%;
 left: 0;
 top: 0;
 position: fixed;
 z-index: 999;
}

.quickcheckout-agreement-content
{ 
 height: 100%;
 left: 0;
 position: fixed;
 top: 0;
 width: 100%;
 z-index: 9999;
}

.quickcheckout-agreement-content div
{
 -moz-box-shadow: 0 0 22px #000000;
 background: none repeat scroll 0 0 #FFFFFF;
 color: #6E6E6E;
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 margin: 2% auto 0;
 padding: 30px;
 position: relative;
 width: 330px;
}

.quickcheckout-agreement-content div h1
{
 font: 24px/22px Arial, Helvetica, sans-serif normal;
 color: #5A5A5A;
 width: 100%;
 clear: both;
 margin-bottom: 15px
}

.div_closer
{
 position: absolute;
 width: 30px;
 height: 30px;
 right: -10px;
 top: -10px;
 background: url('../../images/quickcheckout/closebox.png') no-repeat left top;
}

.inner_loader
{
 margin-top: 8px;
 text-decoration: blink;
 padding: 16px 32px 16px 0px;
 background: url('../../images/quickcheckout/loading_inner.gif') no-repeat right center;
 position: absolute;
 right: 30px;
 top: 20px
}

.quickcheckout-error-message
{
 color: red;
 font-weight: bold;
}

.quickcheckout-success-message
{
 color: green;
 font-weight: bold;
}

/*---------------------------------------------------------------*/

.left
{
 float: left;
 margin-top: 0px;
}

.margin-top { margin-top: 10px; }

/*--------------coupon--------------------*/

.quickcheckout-coupon
{
 background: none repeat scroll 0 0 black;
 height: 100%;
 width: 100%;
 left: 0;
 top: 0;
 position: fixed;
 z-index: 999;
}

.quickcheckout-coupon-form .coupon-form button { float: right; }

#quickcheckout-coupon-form{
background: none repeat scroll 0 0 #fff;
    border: 1px solid #cccccc;
    box-shadow: 0 0 20px #000;
    height: auto;
    left: 50%;
    margin-left: -160px;
    margin-top: -150px;
    padding: 20px 40px;
    position: fixed;
    top: 50%;
    width: 305px;
    z-index: 1000;
}

#quickcheckout-coupon-form h1
{
 font: 23px/20px Arial, Helvetica, sans-serif normal;
 color: #4B4B4B;
 padding-bottom: 20px
}

#quickcheckout-coupon-form label
{
 font: 12px/32px Arial, Helvetica, sans-serif normal;
 color: #474747;
 float: left;
}

.quickcheckout-coupon-form_input
{
 width: 180px;
 border: 1px solid #BFBFBF;
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 color: #6F6F6F;
 padding: 2px 0 3px;
 float: right;
 margin-bottom: 8px;
 margin-top: 5px
}

#quickcheckout-coupon-form a
{
 float: right;
 clear: both;
 color: #4B4B4B;
 text-decoration: none;
 font: 11px/18px Arial, Helvetica, sans-serif normal;
}

#quickcheckout-coupon-form a:hover
{
 text-decoration: underline;
 color: #F00
}

#quickcheckout-coupon-form .coup_button
{
 height: auto;
 padding: 4px 13px 5px;
 border: 0px;
 cursor: pointer;
 clear: both;
 margin: 20px 10px 0 0;
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 border-radius: 4px;
 color: #494949;
 font: bold 13px/18px Arial, Helvetica, sans-serif normal; /*float:left;*/
 clear: both;
}

#quickcheckout-coupon-form .coup_button:hover { opacity: 0.85; }

/*------------------------------------------------------*/

.display_inline { display: inline; }

.display_block { display: block; }

.no-display { display: none; }

.quickcheckout-agreement-content-p
{
 max-height: 400px;
 overflow: auto;
}

input.checkbox { margin: -3px 3px 0 0 !important; vertical-align:middle; }

#quickcheckout-login-form .validation-advice { right: -11em !important; clear:both; margin-bottom:10px;}

/*.validation-advice { width: 10em !important; }*/

#advice-validate-select-quickcheckout_heared { right: -17em !important; }

#advice-required-entry-quickcheckout_other { right: -29em !important; }

.div_detail
{
 padding: 0 5px;
 font: 12px/18px Arial, Helvetica, sans-serif normal;
}

.main_checkout ul, .main_checkout ol { margin: 0 !important; }

.main_checkout .payment .input-box .v-fix { float: left; }

.sp-methods .form-list { padding-left: 20px; }

.sp-methods .form-list li
{
 margin: 0 0 8px;
 overflow: hidden;
}

.sp-methods .form-list li label
{
 clear: both;
 display: block;
}

.sp-methods .form-list .input-box
{
 clear: both;
 display: block;
 width: 100%;
}

.buttons-set
{
 border-top: 1px solid #E4E4E4;
 clear: both;
 margin: 4em 0 0;
 padding: 8px 0 0;
 text-align: right;
}

.a-right { text-align: right !important; }

.tool-tip
{
 background: none repeat scroll 0 0 #EAF6FF;
 border: 1px solid #7BA7C9;
 padding: 15px 20px;
 position: absolute;
 z-index: 9999;
}

.data-table td { padding: 3px 8px; }

#quickcheckout_heared
{
 width: 30%;
 border: 1px solid #BFBFBF;
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 color: #6F6F6F;
 padding: 1px 0 1px;
}

.quickfield_2 .quickfield_4 select
{
 width: 100%;
 border: 1px solid #BFBFBF;
 font: 12px/18px Arial, Helvetica, sans-serif normal;
 color: #6F6F6F;
 padding: 1px 0 1px;
 margin-bottom: 6px;
}

label em
{
 color: red;
 float: right;
}

#giftwrapreviews { display: none; }

.gift_wrap
{
 border-radius: 8px 8px 8px 8px;
 margin: 0 0 14px 4px;
 padding: 2px;
}

#advice-required-entry-ccsave_expiration, #advice-required-entry-ccsave_expiration_yr { width: 70px !important; }

#checkout-payment-method-load .form-list label.required em
{
 position: inherit;
 float: left;
 padding-right: 0;
 right: 0px;
}

.main_checkout .payment label { min-width: 100%; }

#p_method_authorizenet_directpost
{
 margin-left: 15px !important;
 margin-top: 10px !important;
}

#checkout-shipping-method-load .messages li li:before
{
 margin-left: -12px;
 margin-top: 4px;
 top: 0;
}

.gift_wrap .headings.quickcheckout-title:first-child { margin-bottom: 20px; }

select
{
 height: 30px;
 padding-top: 0px !important;
}

.required
{
 color: #636363 !important;
 font-weight: 600 !important;
}

em.required { color: #ff0000 !important; }

.a-center img
{
 display: inline;
 margin-top: 4px;
}

.a-center { vertical-align: top; }

.quickfield_1.company_tag { width: 100%; }

.quickfield_1.city_tag
{
 margin: 6px 0;
 width: 100%;
}

#payment_form_ccsave input { width: 100% !important; }

#payment_form_ccsave input-box { width: 100% !important; }

#payment_form_ccsave #ccsave_cc_type { width: 100% !important; }

#checkout-payment-method-load label img { margin-right: 10px; }

input[type="text"]{
 padding-left:10px !important;
 
}

/*Media Quries Start*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {

.main_checkout { width: 100%; }

.billing { width: 100%; }

#os-left { width: 100%; }

#os-right
{
 float: left;
 width: 100%;
}

.main_checkout .shipping_method
{
 margin: 10px 0 0;
 width: 100%;
}

.main_checkout .payment { width: 100%; }

.main_checkout .payment label { min-width: 100%; }

.review { width: 100%; }

.place_order { padding: 6px 10px 7px; }

.quickfield_2 { width: 100%; }

.quickfield_2 .field, .name-firstname { width: 100%; }

.quickfield_2 input[type="text"] { width: 100%; }

.quickfield_2 .name-lastname
{
 float: left;
 width: 100%;
}

.quickfield_1 { width: 100%; }

.quickfield_3 { width: 100%; }

.quickfield_4
{
 float: left;
 width: 100%;
}

.quickfield_2 .quickfield_4 select { width: 100%; }

.quickfield_2 select
{
 height: 30px;
 width: 100%;
}

.quickfield_1 input[type="text"] { width: 100%; }

textarea { width: 98%; }

.quickfield_3 input[type="text"] { width: 100%; }

#quickcheckout_heared
{
 width: 100%;
 height: 30px;
}

h3 { font-size: 12px !important; }

h1 { font-size: 22px !important; }
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}
 @media only screen and (min-width : 320px) and (max-width : 479px) {

#checkout-review-load > div
{
 overflow: auto;
 width: 100%;
}
}
@media only screen and (min-width : 640px) and (max-width : 767px) {

.main_checkout { width: 100%; }

.billing { width: 100%; }

#os-left { width: 100%; }

#os-right
{
 float: left;
 width: 100%;
}

.main_checkout .shipping_method
{
 margin: 10px 0 0;
 width: 100%;
}

shipping
{
 width:100%;
}

.main_checkout .payment { width: 100%; }

.main_checkout .payment label { min-width: 100%; }

.review { width: 100%; }

.place_order { padding: 6px 10px 7px; }

.quickfield_2 { width: 100%; }

.quickfield_2 .field, .name-firstname { width: 100%; }

.quickfield_2 input[type="text"] { width: 100%; }

.quickfield_2 .name-lastname
{
 float: left;
 width: 100%;
}

.quickfield_1 { width: 100%; }

.quickfield_3 { width: 100%; }

.quickfield_4
{
 float: left;
 width: 100%;
}

.quickfield_2 .quickfield_4 select { width: 100%; }

.quickfield_2 select
{
 height: 30px;
 width: 100%;
}

.quickfield_1 input[type="text"] { width: 100%; }

textarea { width: 98%; }

.quickfield_3 input[type="text"] { width: 100%; }

#quickcheckout_heared
{
 width: 100%;
 height: 30px;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {

.main_checkout { width: 100%; }

#os-left { width: 35%; }

.quickfield_2 { width: 100%; }

.quickfield_2 select { width: 100%; }

#os-right { width: 65%; }

.main_checkout .shipping_method
{
 margin: 10px 0 0 10px;
 width: 100%;
}

.main_checkout .payment
{
 float: left;
 margin: 10px 0 0 10px;
 width: 100%;
}

.main_checkout .shipping { width: 100%; }

.main_checkout .payment label { min-width: 100%; }

.review { width: 100%; }

.billing { width: 100%; }

.quickfield_2 .field, .name-firstname { width: 100%; }

.quickfield_2 input[type="text"] { width: 100%; }

.quickfield_2 .name-lastname
{
 float: left;
 width: 100%;
}

.quickfield_1 { width: 100%; }

.quickfield_3 { width: 100%; }

.quickfield_4
{
 float: left;
 width: 100%;
}

.quickfield_2 .quickfield_4 select { width: 100%; }

.quickfield_1 input[type="text"] { width: 100%; }

textarea { width: 98%; }
}
/* iPads (landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
/* Styles */
}
/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
}
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
} 

/*Media Queries End Here*/

/* Custom css written for checkout page changes 04-10-2017 starts*/
#os-left {
    float: left;
    padding: 0 10px;
    width: 25%;
}
#os-right {
    float: left;
    padding: 0 10px;
    width: 25%;
}
#os-review {
    float: left;
    padding-left: 10px;
    width: 50%;
}
.main_checkout .shipping_method {
    margin: 10px 0 0;
    padding: 10px;
    width: 100%;
}
.main_checkout .payment {
    margin: 10px 0 0 15px;
    padding: 10px;
    width: 100%;
}
.review {
    padding: 10px;
    width: 100%;
}

label{
     font-size: 12px!important;
}
.quickcheckout-agreement-p textarea{
max-width: 100%;
}
.quickcheckout_remove_item{
background: url(../../images/close.png);
 display: inline-block;
    height: 24px;
    width: 24px;

}
.main_checkout .shipping_method{
    border-radius: 0;
}
.review{
border-radius: 0;
}
.main_checkout .payment{
    border-radius: 0;
}
#quickcheckout-coupon-form h1{
     margin-bottom: 0;
    padding-bottom: 0;
}
.quickfield_1 input[type="text"],.quickfield_2 input[type="text"], .quickfield_3 input[type="text"], .quickfield_4 input[type="text"], select.region {
 margin-bottom: 0 !important;
    }
    .quickfield_1, .quickfield_2, .quickfield_3,.quickfield_4, .quickfield_2 .field, .name-firstname, .quickfield_2 .name-lastname {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    #quickcheckout-login-form h1{
        padding-bottom: 0;
    }
    #quickcheckout-login-form{
        padding: 20px;
    }
    .main_checkout .shipping{
          width: 100%;
          border-radius: 0;
    }
@media (max-width:1170px){
#os-left {
    float: left;
    padding: 0 10px;
    width: 45%;
}
#os-right{
     width: 55%;
}
#os-review{
    width: 100%;
}
.quickcheckout-agreement-p textarea{
max-width: 100%;
}
.main_checkout .payment{
    margin: 10px 0 0;
}

}

@media (max-width:767px){
    .billing{
        width: 100%;
    }

    .main_checkout .shipping{
        width: 100%;
        border-radius: 0;
    }
#os-left{
    width: 100%;
      padding: 0;
}
#os-right{
    width: 100%;
}
#os-review{
    width: 100%;
}
#checkout-payment-method-load .sp-methods .form-list {
    padding-left: 0;
}
#payment_form_ccsave{
 padding-left: 0;
}
#os-right{
    padding: 0;
}

#os-review{
     padding-left: 0;
}

}
/* Custom css written for checkout page changes 04-10-2017 Ends */
