<?php
/*
 * @category   ZALW
 * @package    Zalw_QuickCheckout
 * @module     QuickCheckout
 * @author     ALW
 * @description: This is template  for QuickCheckout module.
 */
$cssPath = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN);
include_once('app/Mage.php');
Mage::app();
$version = Mage::getVersion();
    if('1.9.0.0' == $version || '1.9.0.1' == $version  ) {
    ?>
<link rel="stylesheet" href="<?php echo $cssPath;?>/frontend/base/default/css/quickcheckout/quickcheckoutnine.css" type="text/css" />
<?php }
Mage::getSingleton('core/session')->setMyValue('payment');
$checkUseForShipping = Mage::getSingleton('core/session')->getData('use_for_shipping'); ?>
<script type="text/javascript">
countryRegions = <?php echo $this->helper('directory')->getRegionJson() ?>
</script>
<div class="main_checkout v-fix f-fix">
    <div class="main_header">
        <h1><?php echo Mage::helper('quickcheckout')->getQuickCheckoutTitle(); ?></h1>
        <h2><?php echo Mage::helper('quickcheckout')->getQuickCheckoutContent() ?></h2>
        <?php if(!$this->isCustomerLoggedIn() && Mage::helper('quickcheckout')->getQuickCheckoutConfig('general/enable_login')): ?>
           
                    <?php echo $this->getChildHtml('osc-login'); ?>
              
        <?php endif; ?>
       
    </div>
    <div id="quickcheckout-ajax-loader" style="display:none;">
        <div id="quickcheckout-ajax-loader-text"> Loading...</div>
    </div>
    
    <?php $i=0; foreach($this->getSteps() as $_stepId => $_stepInfo): ?>
        <?php if (!$this->getChild($_stepId) || !$this->getChild($_stepId)->isShow()): continue; endif; ?>
        <?php if($_stepId == 'login'): ?>
            <div class="onestepcheckout-<?php echo $_stepId ?>">            
                <div class="checkout-step-<?php echo $_stepId ?>">
                    <?php echo $this->getChildHtml($_stepId) ?>
                </div>
            </div>
        <?php else: ?>
        <?php if($_stepId == 'shipping'): ?>
            <?php if($checkUseForShipping): ?>
                <?php $i++; ?>
            <?php endif; ?>
        <?php else: ?>
            <?php $i++ ?>
        <?php endif; ?>
        <?php if($_stepId == 'billing'): ?>
            <form id="onestepcheckout-form" action="" method="post">
                <div id="os-container" class="clearfix f-fix v-fix">
                    <div id="os-row">
                        <div id="os-left" class="f-left left">
                            <ol class="first">
        <?php endif; ?>
        <?php if($_stepId == 'shipping_method' || $i == 2): ?>
                            </ol>
                        </div >
            
                        <div id="os-right" class="f-left left">
                            <ol class="">
        <?php elseif($_stepId == 'review'):?>
                            </ol>
            </div>
                            <div id="os-review" >
                                <ol class="">
        <?php endif;?>
        <?php if($_stepId == 'shipping'): 
            Mage::getSingleton('core/session')->setMyValue('shipping');
        ?>
                                    <li class="step <?php echo $_stepId ?>" <?php if($checkUseForShipping): ?>style="display:block;"<?php else: ?>style="display:none;"<?php endif; ?> id="shipping-address-form">
        <?php else: ?>
                <?php if($getSession = Mage::getSingleton('core/session')->getMyValue()){
                } ?>
                <?php if($_stepId == 'payment'&& $getSession=='payment'): ?>
                   <li class="<?php echo $_stepId." paymentblock" ?>  ">
                                <?php else: ?>
                                    <li class="<?php echo $_stepId ?> ">
                                    <?php endif; ?>
                <?php endif; ?>
                <?php if($_stepId == 'review'): ?>
                         <?php if(Mage::helper('quickcheckout')->getQuickCheckoutConfig('gift_wrap/gift_wrap_option')): ?>
                         <?php $productType = Mage::getModel('quickcheckout/quickcheckout')->getProductType();
                         if($productType):
                    
                        ?>
                                <div class="gift_wrap_option">
                                 <ol>
                        <li class="gift_wrap">                      
                        
                            <div style="" class="headings quickcheckout-title">
                                            <span class="step-review" id="quickcheckout-number"></span>
                                            <h3 style="">Gift Wrap</h3>
                              </div>
                              
                              <input type="checkbox" checked="checked" name="gift_wrap" id="gift_wrap" value="gift_wrap" onclick="giftwrap.giftwrap()"><?php echo " Want to Gift Wrap?";?> 
                        
                    </li>
                     </ol>
                        </div>
                        <?php endif; ?>
                        <?php endif; ?><?php endif; ?>
                                        <div class="headings quickcheckout-title"  <?php echo "style='". Mage::helper('quickcheckout')->getQuickCheckoutskin() . "'"; ?>>
                                            <span id="quickcheckout-number" <?php if($_stepId == 'review'): ?>class="step-review"<?php elseif($checkUseForShipping): ?>class="step-<?php echo $i ?>"<?php elseif($_stepId != 'shipping'): ?>class="step-<?php echo $i ?>"<?php endif; ?>></span>
                                            <h3 <?php echo "style='". Mage::helper('quickcheckout')->getQuickCheckoutHeadingCSS() . "'"; ?>><?php echo $_stepInfo['label'] ?></h3>
                                        </div>
                                            <?php echo $this->getChildHtml($_stepId) ?>
                                    </li>
        <?php endif; ?>
    
    <?php endforeach ?>

                                </ol>
                            </div>
                        
                    </div>
                </div>
            </form>
            <div class="clear"></div>
            <?php if(Mage::helper('quickcheckout')->getQuickCheckoutConfig('general/enable_coupon')): ?>
                <?php echo $this->getChildHtml('coupon') ?> 
            <?php endif; ?>

</div>
<script type="text/javascript">
//<![CDATA[
var cartupdate = new CartUpdate('<?php echo $this->getUrl('checkout/onestep/cartupdate') ?>');
    var addaddressb4review='<?php echo $this->getUrl('checkout/onestep/save_Before_Review') ?>';
    var onestepcheckout = new Onestepcheckout(
                {
                    failure: '<?php echo $this->getUrl('checkout/onepage/failure') ?>',
                    reloadReview: '<?php echo $this->getUrl('checkout/onestep/reloadReview') ?>',
                    reloadPayment: '<?php echo $this->getUrl('checkout/onestep/reloadPayment') ?>',
                    success: '<?php echo $this->getUrl('checkout/onepage/success') ?>'
                }                                      
            );
    if($('billing-address-select')) {
        billing.setAddress($('billing-address-select').value);
    } else {
        billing.saveCountry();
    }
    
var giftwrap = new Giftwrap('<?php echo $this->getUrl('checkout/onestep/giftwrap') ?>');    
//]]>

</script>
