<?php
/**
 * @category    design
 * @package     default_quickcheckout
 */
?>
<?php if( sizeof($this->getTotals()) > 0 ): ?>
    <?php $_source  = $this->getSource() ?>
    <?php 
    $order = $_source->getOrder();
    $giftwrapRefundeded = $order->getGiftwrapAmountRefunded();
    $giftwrapAmount = $order->getGiftwrapAmount();
    $giftwrapOption = $order->getGiftWrapOption();

    ?>
    <div class="box">
        <div class="entry-edit">
            <table border="0" cellspacing="0" width="100%">
                <tr>
                    <?php foreach( $this->getTotals() as $_total ): ?>
                        <td class="a-center">
                            <div <?php if (!$_total['grand']): ?>>
                                <?php echo $_total['label'] ?><br />
                                <?php echo $_total['value'] ?>
                                <?php endif; ?>
                            </div>
                        </td>
                    <?php endforeach; ?>

                    <?php if(Mage::helper('quickcheckout')->getQuickCheckoutConfig('gift_wrap/gift_wrap_option')): ?>
                        <?php if($giftwrapOption>0):?>
                            <td class="a-center">
                                    <div>
                                        <?php echo Mage::helper('core')->__('Giftwrap Amount') ?><br>
                                        <span class="price"><?php
                                     echo $this->displayPrices($giftwrapAmount,$giftwrapAmount); ?></span>                    </div>
                            </td>
                            <td class="a-center">
                                <div>
                                    <?php echo Mage::helper('core')->__('Giftwrap Refunded') ?><br>
                                    <span class="price">
                                        <?php echo $this->displayPrices($giftwrapRefundeded, $giftwrapRefundeded); ?>
                                    </span>           
                                </div>
                            </td>
                        <?php endif; ?>
                    <?php endif; ?>
                    <?php foreach( $this->getTotals() as $_total ): ?>
                        <td class="a-center">
                            <div <?php if ($_total['grand']): ?>class="grand-total">
                                <?php echo $_total['label'] ?><br />
                                <?php echo $_total['value'] ?>
                                <?php endif; ?>
                            </div>
                        </td>
                    <?php endforeach; ?>
                </tr>
            </table>
        </div>
    </div>
<?php endif; ?>