<?php

/*
 * @category   ALW
 * @package    Alw_QuickCheckout
 * @module     QuickCheckout
 * @author     ALW
 * @description: This is template for QuickCheckout module.
 */
?>
<?php if(!$this->getDontDisplayContainer()): ?>
    <script type="text/javascript">
        //<![CDATA[
        if(!window.toogleVisibilityOnObjects) {
            var toogleVisibilityOnObjects = function(source, objects) {
                if($(source) && $(source).checked) {
                    objects.each(function(item){
                        $(item).show();
                        $$('#' + item + ' .input-text').each(function(item) {
                            item.removeClassName('validation-passed');
                        });
                    });
                } else {
                    objects.each(function(item){
                        $(item).hide();
                        $$('#' + item + ' .input-text').each(function(sitem) {
                            sitem.addClassName('validation-passed');
                        });

                         $$('#' + item + ' .giftmessage-area').each(function(sitem) {
                            sitem.value = '';
                        });
                    });
                }
            }
        }

        if(!window.toogleRequired) {
            var toogleRequired = function (source, objects)
            {
                if(!$(source).value.blank()) {
                    objects.each(function(item) {
                       $(item).addClassName('required-entry');
                    });
                } else {
                    objects.each(function(item) {
                        if(shippingMethod && shippingMethod.validator) {
                           shippingMethod.validator.reset(item);
                        }
                        $(item).removeClassName('required-entry');
                    });

                }
            }
        }

        if(window.shipping) {

            shipping.onSave = function(evt){
                new Ajax.Updater('onepage-checkout-shipping-method-additional-load', '<?php echo $this->getAdditionalUrl(); ?>', {onSuccess: function() {
                      this.nextStep(evt);
                }.bind(this), evalScripts:true});
            }.bindAsEventListener(shipping);

            billing.onSave = function(evt){
                new Ajax.Updater('onepage-checkout-shipping-method-additional-load', '<?php echo $this->getAdditionalUrl(); ?>', {onSuccess: function() {
                      this.nextStep(evt);
                }.bind(this), evalScripts:true});
            }.bindAsEventListener(billing);
        }
        //]]>
    </script>
<?php endif ?>
<?php if (Mage::helper('giftmessage/message')->isMessagesAvailable('quote', $this->getEntity()) || $this->isItemsAvailable()): ?>
<?php switch ($this->getType()): ?>
<?php case 'onepage_checkout': ?>
    <div class="gift-messages-form">
        <h4><?php echo $this->__('Do you have any gift items in your order?'); ?></h4>
        <p class="control">
            <input type="checkbox" name="allow_gift_messages" id="allow_gift_messages" value="1" onclick="toogleVisibilityOnObjects(this, ['allow-gift-message-container']);"<?php if($this->getItemsHasMesssages() || $this->getEntityHasMessage()): ?> checked="checked"<?php endif; ?> class="checkbox" /><label for="allow_gift_messages"><?php echo $this->__('Check this checkbox if you want to add gift messages.') ?></label>
        </p>
    </div>
    <div class="gift-messages-form" id="allow-gift-message-container">
        <div class="inner-box">
            <?php if (Mage::helper('giftmessage/message')->isMessagesAvailable('quote', $this->getEntity())): ?>
                <div class="whole-order">
                    <h4><?php echo $this->__('Enter a gift message for entire order.'); ?></h4>
                    <p><?php echo $this->__('You can leave this box blank if you do not wish to add a gift message for whole order.') ?></p>
                    <input type="hidden" name="giftmessage[<?php echo $this->getEntity()->getId() ?>][type]"  value="quote" />
                   
                    <div class="clear"></div>
                             <div class="add_gift"><div class="quickfield_5"><label><?php echo $this->__('From') ?></label><br />
                            <input type="text" name="giftmessage[<?php echo $this->getEntity()->getId() ?>][from]" id="gift-message-whole-from" title="<?php echo $this->__('From') ?>"  value="<?php echo $this->getEscaped($this->getMessage()->getSender(), $this->getDefaultFrom()) ?>" class="validation-passed" /></div>
                                <div class="quickfield_5"><label><?php echo $this->__('To') ?></label><br />
                                    <input type="text" name="giftmessage[<?php echo $this->getEntity()->getId() ?>][to]" id="gift-message-whole-to" title="<?php echo $this->__('To') ?>" value="<?php echo $this->getEscaped($this->getMessage()->getRecipient(), $this->getDefaultTo()) ?>" class="input-text validation-passed" /></div>
                             <div class="quick_gift"><label><?php echo $this->__('Message') ?></label><br />
                            <textarea id="gift-message-whole-message" onchange="toogleRequired('gift-message-whole-message', ['gift-message-whole-from','gift-message-whole-to'])" class="validation-passed" name="giftmessage[<?php echo $this->getEntity()->getId() ?>][message]" title="<?php echo $this->__('Message') ?>" rows="5" cols="32"><?php echo $this->getEscaped($this->getMessage()->getMessage()) ?></textarea></div><br />
                             </div>
                    <script type="text/javascript">
                    //<![CDATA[
                        toogleRequired('gift-message-whole-message', ['gift-message-whole-from','gift-message-whole-to']);
                    //]]>
                    </script>
                </div>
             <?php endif; ?>
             <?php if($this->isItemsAvailable()): ?>
                 <h4><?php echo $this->__('Enter a gift message for each item in your order.'); ?></h4>
                 <p><?php echo $this->__('You can leave this box blank if you do not wish to add a gift message for the item.') ?></p>
                 <ol>
                 <?php foreach($this->getItems() as $_index=>$_item): ?>
                 <?php $_product=$_item->getProduct() ?>
                 <li class="item">
                     <div class="product-img-box">
                         <p class="product-image">
                             <img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(75); ?>" width="75" height="75" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" />
                         </p>
                         <p class="number"><?php echo $this->__('Item %d of %d', $_index+1, $this->countItems()) ?></p>
                     </div>
                     <div class="details">
                         <div class="f-fix">
                             <h5 class="product-name"><?php echo $this->htmlEscape($_product->getName()) ?></h5>
                             <input type="hidden" name="giftmessage[<?php echo $_item->getId() ?>][type]" value="quote_item" />
                              <ul class="form-list">
                                 <li class="fields">
                                     <div class="field">
                                         <label for="gift-message-<?php echo $_item->getId() ?>-from"><?php echo $this->__('From') ?></label>
                                         <div class="input-box">
                                             <input type="text" name="giftmessage[<?php echo $_item->getId() ?>][from]" id="gift-message-<?php echo $_item->getId() ?>-from" title="<?php echo $this->__('From') ?>" value="<?php echo $this->getEscaped($this->getMessage($_item)->getSender(), $this->getDefaultFrom()) ?>" class="input-text validation-passed" />
                                         </div>
                                     </div>
                                     <div class="field">
                                         <label for="gift-message-<?php echo $_item->getId() ?>-to"><?php echo $this->__('To') ?></label>
                                         <div class="input-box">
                                             <input type="text" name="giftmessage[<?php echo $_item->getId() ?>][to]" id="gift-message-<?php echo $_item->getId() ?>-to" title="<?php echo $this->__('To') ?>" value="<?php echo $this->getEscaped($this->getMessage($_item)->getRecipient(), $this->getDefaultTo()) ?>" class="input-text validation-passed" />
                                         </div>
                                     </div>
                                 </li>
                             </ul>
                         </div>
                     </div>
                     <ul>
                        <li>
                            <label for="gift-message-<?php echo $_item->getId() ?>-message"><?php echo $this->__('Message') ?></label>
                            <br />
                            <textarea id="gift-message-<?php echo $_item->getId() ?>-message" onchange="toogleRequired('gift-message-<?php echo $_item->getId() ?>-message', ['gift-message-<?php echo $_item->getId() ?>-from','gift-message-<?php echo $_item->getId() ?>-to'])" class="input-text validation-passed  giftmessage-area" name="giftmessage[<?php echo $_item->getId() ?>][message]" title="<?php echo $this->__('Message') ?>" rows="5" cols="32"><?php echo $this->getEscaped($this->getMessage($_item)->getMessage()) ?></textarea>
                        </li>
                    </ul>
                     <script type="text/javascript">
                         //<![CDATA[
                            toogleRequired('gift-message-<?php echo $_item->getId() ?>-message', ['gift-message-<?php echo $_item->getId() ?>-from','gift-message-<?php echo $_item->getId() ?>-to']);
                         //]]>
                    </script>
                 </li>
                 <?php endforeach; ?>
             </ol>
             <?php endif; ?>
        </div>
    </div>
    <script type="text/javascript">
    //<![CDATA[
        toogleVisibilityOnObjects('allow_gift_messages', ['allow-gift-message-container']);
    //]]>
    </script>
<?php break; ?>
<?php case 'multishipping_adress_checkbox': ?>

<?php break; ?>
<?php case 'multishipping_adress': ?>
    <div class="gift-messages">
        <h3><?php echo $this->__('Gift Messages'); ?></h3>
        <p class="control">
            <input type="checkbox" name="allow_gift_messages_<?php echo $this->getEntity()->getId() ?>" id="allow_gift_messages_<?php echo $this->getEntity()->getId() ?>" value="1" onclick="toogleVisibilityOnObjects(this, ['allow-gift-message-container-<?php echo $this->getEntity()->getId() ?>']);"<?php if($this->getItemsHasMesssages() || $this->getEntityHasMessage()): ?> checked="checked"<?php endif ?> class="checkbox" /><label for="allow_gift_messages_<?php echo $this->getEntity()->getId() ?>"><?php echo $this->__('Check this checkbox if you want to add gift messages to your items.') ?></label>
        </p>
    </div>
    <div class="gift-messages-form" id="allow-gift-message-container-<?php echo $this->getEntity()->getId() ?>">
        <div class="inner-box">
            <?php if (Mage::helper('giftmessage/message')->isMessagesAvailable('quote', $this->getEntity())): ?>
                <div class="whole-order">
                    <h4><?php echo $this->__('Enter a gift message for this address.'); ?></h4>
                    <p><?php echo $this->__('You can leave this box blank if you do not wish to add a gift message for this address.') ?></p>
                    <input type="hidden" name="giftmessage[<?php echo $this->getEntity()->getId() ?>][type]" value="quote_address" />
                    <ul class="form-list">
                        <li class="fields">
                            <div class="field">
                                <label for="gift-message-<?php echo $this->getEntity()->getId() ?>-from"><?php echo $this->__('From') ?></label>
                                <div class="input-box">
                                    <input type="text" name="giftmessage[<?php echo $this->getEntity()->getId() ?>][from]" id="gift-message-<?php echo $this->getEntity()->getId() ?>-from" title="<?php echo $this->__('From') ?>" value="<?php echo $this->getEscaped($this->getMessage()->getSender(), $this->getDefaultFrom()) ?>" class="input-text validation-passed" />
                                </div>
                            </div>
                            <div class="field">
                                <label for="gift-message-<?php echo $this->getEntity()->getId() ?>-to"><?php echo $this->__('To') ?></label>
                                <div class="input-box">
                                    <input type="text" name="giftmessage[<?php echo $this->getEntity()->getId() ?>][to]" id="gift-message-<?php echo $this->getEntity()->getId() ?>-to" title="<?php echo $this->__('To') ?>" value="<?php echo $this->getEscaped($this->getMessage()->getRecipient(), $this->getDefaultTo()) ?>" class="input-text validation-passed" />
                                </div>
                            </div>
                        </li>
                        <li class="wide">
                            <label for="gift-message-<?php echo $this->getEntity()->getId() ?>-message"><?php echo $this->__('Message') ?></label>
                            <div class="input-box">
                                <textarea id="gift-message-<?php echo $this->getEntity()->getId() ?>-message" onchange="toogleRequired('gift-message-<?php echo $this->getEntity()->getId() ?>-message', ['gift-message-<?php echo $this->getEntity()->getId() ?>-from','gift-message-<?php echo $this->getEntity()->getId() ?>-to'])" class="input-text validation-passed giftmessage-area" name="giftmessage[<?php echo $this->getEntity()->getId() ?>][message]" title="<?php echo $this->__('Message') ?>" rows="5" cols="40"><?php echo $this->getEscaped($this->getMessage()->getMessage()) ?></textarea>
                            </div>
                        </li>
                    </ul>
                    <script type="text/javascript">
                    //<![CDATA[
                        var shippingMethod = new VarienForm('shipping_method_form');
                        toogleRequired('gift-message-<?php echo $this->getEntity()->getId() ?>-message', ['gift-message-<?php echo $this->getEntity()->getId() ?>-from','gift-message-<?php echo $this->getEntity()->getId() ?>-to']);
                    //]]>
                    </script>
                </div>
             <?php endif; ?>
             <?php if($this->isItemsAvailable()): ?>
             <h4><?php echo $this->__('Enter a gift message for each item in your order.'); ?></h4>
             <p><?php echo $this->__('You can leave this box blank if you do not wish to add a gift message for the item.') ?></p>
             <ol>
             <?php foreach($this->getItems() as $_index=>$_item): ?>
             <?php $_product=$_item->getProduct() ?>
                 <li class="item">
                     <div class="product-img-box">
                         <p class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(75); ?>" width="75" height="75" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" /></p>
                         <p class="number"><?php echo $this->__('Item %d of %d', $_index+1, $this->countItems()) ?></p>
                     </div>
                     <div class="details">
                         <div class="f-fix">
                             <input type="hidden" name="giftmessage[<?php echo $_item->getId() ?>][type]" value="quote_address_item" />
                             <input type="hidden" name="giftmessage[<?php echo $_item->getId() ?>][address]" value="<?php echo $this->getEntity()->getId()?>" />
                             <h5 class="product-name"><?php echo $this->htmlEscape($_product->getName()) ?></h5>
                             <ul class="form-list">
                                 <li class="fields">
                                     <div class="field">
                                         <label for="gift-message-<?php echo $_item->getId() ?>-from"><?php echo $this->__('From') ?></label>
                                         <div class="input-box">
                                             <input type="text" name="giftmessage[<?php echo $_item->getId() ?>][from]" id="gift-message-<?php echo $_item->getId() ?>-from" title="<?php echo $this->__('From') ?>"  value="<?php echo $this->getEscaped($this->getMessage($_item)->getSender(), $this->getDefaultFrom()) ?>" class="input-text validation-passed" />
                                         </div>
                                     </div>
                                     <div class="field">
                                         <label for="gift-message-<?php echo $_item->getId() ?>-to"><?php echo $this->__('To') ?></label>
                                         <div class="input-box">
                                             <input type="text" name="giftmessage[<?php echo $_item->getId() ?>][to]" id="gift-message-<?php echo $_item->getId() ?>-to" title="<?php echo $this->__('To') ?>" value="<?php echo $this->getEscaped($this->getMessage($_item)->getRecipient(), $this->getDefaultTo()) ?>" class="input-text validation-passed" />
                                         </div>
                                     </div>
                                 </li>
                                 <li class="wide">
                                     <label for="gift-message-<?php echo $_item->getId() ?>-message"><?php echo $this->__('Message') ?></label>
                                     <div class="input-box">
                                         <textarea id="gift-message-<?php echo $_item->getId() ?>-message" onchange="toogleRequired('gift-message-<?php echo $_item->getId() ?>-message', ['gift-message-<?php echo $_item->getId() ?>-from','gift-message-<?php echo $_item->getId() ?>-to'])" class="input-text validation-passed  giftmessage-area" name="giftmessage[<?php echo $_item->getId() ?>][message]" title="<?php echo $this->__('Message') ?>" rows="5" cols="10"><?php echo $this->getEscaped($this->getMessage($_item)->getMessage()) ?></textarea>
                                     </div>
                                 </li>
                             </ul>
                             <script type="text/javascript">
                             //<![CDATA[
                                 toogleRequired('gift-message-<?php echo $_item->getId() ?>-message', ['gift-message-<?php echo $_item->getId() ?>-from','gift-message-<?php echo $_item->getId() ?>-to']);
                             //]]>
                             </script>
                         </div>
                     </div>
                 </li>
             <?php endforeach; ?>
             </ol>
             <?php endif; ?>
        </div>
    </div>
    <script type="text/javascript">
    //<![CDATA[
        toogleVisibilityOnObjects('allow_gift_messages_<?php echo $this->getEntity()->getId() ?>', ['allow-gift-message-container-<?php echo $this->getEntity()->getId() ?>']);
    //]]>
    </script>
    <?php break; ?>
<?php endswitch ?>
<?php endif;?>
