<!--
/*
 * @category   ZALW
 * @package    Zalw_quickcheckout
 * @module    quickcheckout
 * @author     ALW
 * @description: This is template  for quickcheckout module.
 */
-->

<?php if (!($_shippingRateGroups = $this->getShippingRates())): ?>
    <h6><?php echo $this->__('Sorry, no quotes are available for this order at this time.') ?></h6>
<?php else: ?>
  <?php $i = 1;?>
<dl >
    <?php $_sole = count($_shippingRateGroups) == 1; foreach ($_shippingRateGroups as $code => $_rates): ?>
        <h6><?php echo $this->getCarrierName($code) ?></h6>
        <dt>
 <?php $pointer = count($_rates);?>
            <?php $_sole = $_sole && count($_rates) == 1; foreach ($_rates as $_rate): ?>
         <?php $i++;?>
                   <?php if ($_rate->getErrorMessage()): ?>
                    <ul class="messages checkout_page_msg"><li class="error-msg"><ul><li><?php echo $_rate->getErrorMessage() ?></li></ul></li></ul>
                   <?php else: ?>
                        <?php if ($_sole) : ?>
                        
                           <span class="no-display"><input name="shipping_method" type="radio" value="<?php echo $_rate->getCode() ?>" id="s_method_<?php echo $_rate->getCode() ?>" checked="checked"  class="radio" /></span>
                        
                        <?php else: ?>
                       
                        <input name="shipping_method" type="radio" value="<?php echo $_rate->getCode() ?>" id="s_method_<?php echo $_rate->getCode() ?>"<?php if($_rate->getCode()===$this->getAddressShippingMethod()) echo ' checked="checked"' ?> class=" <?php if($i==$pointer){ echo 'validate-one-required-by-name';
                            }?>" />
                        <?php endif; ?>
                      
                        <label for="s_method_<?php echo $_rate->getCode() ?>"><?php echo $_rate->getMethodTitle() ?>
                        <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                        <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>
                        <?php echo strip_tags($_excl); ?>
                        <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                            (<?php echo $this->__('Incl. Tax'); ?> <?php echo strip_tags($_incl); ?>)
                        <?php endif; ?>
                        </label>
                          <p class="clear"></p>
                   <?php endif ?>
           
            <?php endforeach; ?>
           
        </dt>
    <?php endforeach; ?>
</dl>
<script type="text/javascript">
    //<![CDATA[
       $$('#checkout-shipping-method-load input').invoke('observe', 'click', function(event){shippingMethod.saveShippingMethod();});
    //]]>
    var form = new VarienForm('onestepcheckout-form',true);
    if ('<?php echo $_sole; ?>')
    {
      jQuery('li.shipping_method').addClass('no-display');
      if(jQuery('#shipping-address-form:visible').length == 0)
      {
        jQuery('li.payment #quickcheckout-number').removeClass('step-3');
        jQuery('li.payment #quickcheckout-number').addClass('step-2');
      }
      else{
        jQuery('li.payment #quickcheckout-number').removeClass();
        jQuery('li.payment #quickcheckout-number').addClass('step-3');
      }
    }
    else{
      jQuery('li.shipping_method').removeClass('no-display');
      if(jQuery('#shipping-address-form:visible').length == 0)
      {
        jQuery('li.payment #quickcheckout-number').addClass('step-3');
        jQuery('li.payment #quickcheckout-number').removeClass('step-2');
      }
      else{
        jQuery('li.payment #quickcheckout-number').removeClass('step-3');
        jQuery('li.payment #quickcheckout-number').addClass('step-4');
      }
    }
</script>
<?php endif; ?>
