<!--
/*
 * @category   ZALW
 * @package    Zalw_QuickCheckout
 * @module     QuickCheckout
 * @author     ALW
 * @description: This is template  for QuickCheckout module.
 */
-->

<div id="quickcheckout-giftwrap" class="quickcheckout-giftwrap" style="visibility:hidden;" onclick="giftwrap.hide();"></div>

</div>

<script type="text/javascript">
    //<![CDATA[
        var giftwrap = new Giftwrap("<?php echo $this->getUrl('checkout/onestep/couponPost') ?>");
    //]]>
    
</script>
