<!--
/*
 * @category   ZALW
 * @package    Zalw_QuickCheckout
 * @module     QuickCheckout
 * @author     ALW
 * @description: This is template  for QuickCheckout module.
 */
-->
<script type="text/javascript">
//<![CDATA[
    var payment = new Payment("<?php echo $this->getUrl('checkout/onestep/savePayment') ?>");
//]]>
</script>
    <?php echo $this->getChildHtml('methods') ?>
    <div class="tool-tip" id="payment-tool-tip" style="display:none;">
        <div class="btn-close"><a href="#" id="payment-tool-tip-close" title="<?php echo $this->__('Close') ?>"><?php echo $this->__('Close') ?></a></div>
        <div class="tool-tip-content"><img src="<?php echo $this->getSkinUrl('images/cvv.jpg') ?>" alt="<?php echo $this->__('Card Verification Number Visual Reference') ?>" title="<?php echo $this->__('Card Verification Number Visual Reference') ?>" /></div>
    </div>
<script type="text/javascript">
//<![CDATA[
var Payment_Loading_Text="<?php echo Mage::helper('quickcheckout')->getQuickCheckoutLoading('pay_method')?Mage::helper('quickcheckout')->getQuickCheckoutLoading('pay_method'):'Updating Payment Method';?>";
   
   function toggleToolTip(event){
        if($('payment-tool-tip')){
            $('payment-tool-tip').setStyle({
                top: (Event.pointerY(event)-330)+'px',
                left: (Event.pointerX(event)-502)+'px'
            })
            $('payment-tool-tip').toggle();
        }
        Event.stop(event);
    }
    if($('payment-tool-tip-close')){
        Event.observe($('payment-tool-tip-close'), 'click', toggleToolTip);
    }
//]]>
</script>
